form {
    margin: 100px auto;
    width: 50%;
    height: 100px;
    border: 1px solid #61dafb;
    border-radius: 10px;
    position: relative;
}

input{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    position: absolute;
    left: 33%;
    bottom: 35%;
    width: 30%;
}

form button {
    position: absolute;
    width: 80px;
    right: 2%;
    background-color: lightskyblue;
    bottom: 4%;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    cursor: pointer;
}